<p class="notice"><%= notice %></p>

<div class="title_show">
    <strong>Title:</strong>
    <span> <%= @book.title %></span>
</div>
<div class="body_show">
    <strong>Body:</strong>
    <span> <%= @book.body %></span>
</div>

<div class="link">
    <%= link_to "Edit",edit_book_path(@book.id) %> | <%= link_to "Back",books_path %>
</div>