<p class="notice"><%= notice %></p>

<div class="title_show">Title</div>
    <p><%= @book.title %></p>
<div class="body_show">Body</div>
    <p><%= @book.body %></p>

<div class="edit_show">
    <%= link_to "Edit",edit_book_path(@book.id) %>
</div>

<div class="back_show">
    <%= link_to "Back",books_path %>
</div>